.profile-photo {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the image and add some space below */
    border-radius: 50%; /* Optional: make the image circular */
  }
  .iframe-container {
    width: 200px;
    height: 113px;
    overflow: hidden;
    position: relative;
}


.iframe-container iframe {
  width: 400px; /* 設置為所需顯示大小的2倍 */
  height: 225px; /* 設置為所需顯示大小的2倍 */
  transform: scale(1.0); /* 按需縮放 */
  transform-origin: 0 0;
}
