.profile-photo {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Center the image and add some space below */
  border-radius: 50%; /* Optional: make the image circular */
}

.iframe-container {
  position: relative;
  width: 80%;
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: 45%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}